[colors]

# special
foreground      = #bdbdbd
foreground_bold = #bdbdbd
cursor          = #bdbdbd
background      = rgba(0,0,0,0.8)

# black
color0  = #2c5965
color8  = #2c5965

# red
color1  = #c23127
color9  = #c23127

# green
color2  = #a3be8c
color10 = #a3be8c

# yellow
color3  = #428698
color11 = #428698

# blue
color4  = #2d5a66
color12 = #2d5a66

# magenta
color5  = #387180
color13 = #387180

# cyan
color6  = #62c5df
color14 = #62c5df

# white
color7  = #70e1ff
color15 = #70e1ff
